{{> site-header }}
{{> intro }}
<main class="content-sections">
	<div class="box-container">
	 	{{> section01 }}
		{{> section02 }}
	 	{{> section03 }}
		{{> section04 }}
	</div>
</main>
{{> site-footer }}

