 <div id="intro" class="fs">
    <div class="header-container ">
        <div class="container">
            <div class="wrapper">
                <header class="content">
                    <h1 class="landing-header">Seize the retail moment</h1>
                    <h4 class="landing-subheader">Transform your productivity, inspire your people, do it at value</h4>
                </header>
            </div>
        </div>
    </div>
</div> 