<footer>
	   <section id="contact" class="footer">
	      <!-- <h1 class="sub-header">CONTACT</h1> -->
	      <div class="contact-container  col-4">
	        <div class="icons col-4">LI</div>
	        <div class="icons col-4">CV</div>
	        <div class="icons col-4">GH</div>
	      </div>
	  </section>
</footer>