<footer>
	<div class="footer">
		<div class="footer-left col-12 sm-col-4">
			<div>© 2019 CoreHR Limited. All rights reserved.</div>
		</div>	
		<nav class="nav">
			<ul class="footer-middle col-6 sm-col-4">
				<li class="content"><a href="https://www.corehr.com/privacy-policy/">Privacy Policy</a></li>
				<li class="content"><a href="https://www.corehr.com/terms-conditions/">Terms Of Use</a></li>
				<li class="content"><a href="https://www.corehr.com/careers/">Careers</a></li>
			</ul>	

			<ul class="footer-right social col-6 sm-col-4">
				<li>
					<a href="https://www.facebook.com/CoreHR/" target="_blank">
						<div class="footer-facebook-icon"></div>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/CoreHR?lang=en" target="_blank">
						<div class="footer-twitter-icon"></div>
					</a>	
				</li>
				<li>
					<a href="https://www.linkedin.com/company/corehr/" target="_blank">
					<div class="footer-linkedin-icon"></div>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>