header {
  position: absolute;
  width: 100%;
  nav {
    height: 70px;
    background-color: lightblue;
    display: fixed;
  }
  nav ul {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    margin-right: 9px;
    height: 100%;
    font-size: 65px;
  }

  nav ul li {
    list-style-type: none;
  }

  nav ul li a {
    list-style: none;
    padding-left: 9px;
    color: white;
    -moz-transition: all 0.9s ease-in;
    -o-transition: all 0.9s ease-in;
    -webkit-transition: all 0.9s ease-in;
    transition: all 0.9s ease-in;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: lightblue;
    cursor: pointer;
  }
}
