.content-sections, .header {
  opacity: 0;
  visibility: hidden
}

.landing-subheader {
  width: 70%;
  margin: auto;
   @media #{$breakpoint-md} {
     width: 100%;
   } 
}

.is-loaded {
    .bcg {
      visibility:visible;
      transform: scale(1);
    }
 }

#intro {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  .content {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      margin-bottom: 0
      }
  }
      .line-left {
        height: 146%;
        width: 121%;
        background-repeat: no-repeat;
        top: -170px;
        left: -120px;
                @media #{$breakpoint-md} {
          width: 80%;
          top: -145px; 
          }
      }
      .line-right {
        width: 125%;
        background-repeat: no-repeat;
        height: 105%;
        right: -77px;
        top: 243px;
          @media #{$breakpoint-md} {
            top:auto;
            width: 54%;
            background-repeat: no-repeat;
            height: 118%;
            right: -272px;
          }
      }
}


.main-container{
  position:relative;
}
/* =Header */
.header-container {
  height: 100%;
  width: 100%;
  max-width: 144.0rem;
  margin:auto; 
  position: relative;
  overflow:hidden;
  z-index: 3;
  padding: 0rem 2.7rem 0rem 2.2rem;
  @media #{$breakpoint-md} {
    padding: 6rem 11.4rem 2.8rem 11.4rem;
  }
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    @media #{$breakpoint-md} {
      height: 100%;
    }
  }
}

#box01{
.hero-content{
  padding: 1.2rem 0 0rem 0;
    @media #{$breakpoint-md} {
         padding:15rem 0 11rem 0; 
    }
  }
  .intro01{
    position: relative;
    margin-top: 67px;
    background-color: $white;
    @media #{$breakpoint-md} {
      background-color: $black;
      margin: 0;
      height:100vh;
    }
      .bcg{
        background-image: url('../img/src/h-eader-photo-1-mobile.jpg');
        @media #{$breakpoint-md} {
          background-image: url('../img/src/segment-1-technology01.jpg');
        }
 
      }
      h1 {
        color: $black;
          @media #{$breakpoint-md} {
            color: $white;
          }
      }
  }
  .intro02{
    .hero-content{
      padding: 0rem 0 2rem 0;
        @media #{$breakpoint-md} {
             padding:15rem 0 11rem 0; 
        }
  }
    position: relative;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
      @media #{$breakpoint-md} {
          }

    .bcg {
      background-image: url('../img/src/segment-1-technology02-mobile.jpg');
      // background-size: auto;
        @media #{$breakpoint-md} {
          background-image: url('../img/src/segment-1-technology02.jpg');
          background-size: cover;
        }

    }
  }
  .intro03{
    .header-container{
      background-color: black;
    }
    h3 {
      color: $white;
      font-family: $font-family-bold;
      font-size: 20px;
      margin: 0 0 4.2rem 0;
        @media #{$breakpoint-md} {
            font-size: 35px;
            margin: 0 0 9.2rem 0;
        }
    }
    p {
      color: $white;

    }
    header {      
      padding-top: 42px;
        @media #{$breakpoint-md} {
          padding-top: 0px;
        }
    }
    .item div {
      padding: 0;
        @media #{$breakpoint-md} {
          padding: 4rem;
        }
      }
  }

  .intro04{
    width:100%;
  }
}


#box02{
.hero-content{
  padding:2.4rem 0 0 0 ;
    @media #{$breakpoint-md} {
      padding: 15rem 0 11rem 0;           
    }
    h1 {
        color: $black;
          @media #{$breakpoint-md} {
            color: $white;
          }
    }

}


//Seize the moment : TAB 1;



      .article01-1{
          height: auto;
          position: relative;
          margin-top: 67px;
          background-color: $white;
          @media #{$breakpoint-md} {
            height: 100vh;
            background-color: $black;
            margin: 0;
            height:100vh;
          }
          .bcg{
            background-image: url('../img/src/segment-2-seize-the-moment01-mobile.jpg');
            @media #{$breakpoint-md} { 
              background-image: url('../img/src/segment-2-seize-the-moment01.png');
            }
          }

      }

      .article01-2 {
        position: relative;
          background-color: $white;
              @media #{$breakpoint-md} { 
                background-color: #f5f5f5;
              }
          .wrapper{
            text-align: left;
            padding: 0 0 4rem 0;
                @media #{$breakpoint-md} {
                    text-align: center;
                    padding: 7.7rem 10.6rem 9.7rem 10.6rem;
                }
          }
          h3{
            font-family: $font-family-bold;
          }
          .wrapper{
              display: flex;
              flex-direction: column;
            }
      }

      .article01-3{
        position: relative;
        background-color: $white;
         @media #{$breakpoint-md} {
          background-color: $black;
         }
          .bcg{
            background-size: cover;
            background-image: url('../img/src/segment-2-seize-the-moment02-mobile.jpg');
              @media #{$breakpoint-md} { 
                background-image: url('../img/src/segment-2-seize-the-moment02.png');
              } 
            }

            h3 {
              margin: 2.5rem 0 4.2rem 0;
              @media #{$breakpoint-md} {
                margin: 0 0 9.2rem 0;
              }
            }
            p {
              color: $white;

            }
            .wrapper{
              vertical-align: middle;
            }
              .item{
                    padding-bottom: 6rem;
              };
            ul{
              list-style-position: outside;
              margin-left: 16px;
            }
            li{
              font-size:1.3rem;
              margin:0;
              padding: 0 5rem 1.6rem 1.2rem;
              line-height:1.5rem;
              font-family: $font-family-semiBold;
              @media #{$breakpoint-md} {
                  padding:0 0 1.6rem 0;
                line-height:2.4rem;
                  font-size:1.8rem;
            }
        }
      }

      .article01-4{
        position: relative;
        width:100%;
      }






    //Boost productivity: TAB 2;




      .article02-1{ 
          height: auto;
          position: relative;
          margin-top: 67px;
          background-color: $white;
          @media #{$breakpoint-md} {
            height: 100vh;
            background-color: $black;
            margin: 0;
            height:100vh;
          }
          .bcg{
            background-image: url('../img/src/segment-3-boost-productivity01-mobile.jpg');
            @media #{$breakpoint-md} { 
              background-image: url('../img/src/segment-3-boost-productivity01.jpg');
            }
          }
      }

      .article02-2 {
        position: relative;
          background-color: $white;
              @media #{$breakpoint-md} { 
                background-color: #f5f5f5;
              }
          .wrapper{
            text-align: left;
            padding: 0 0 4rem 0;
                @media #{$breakpoint-md} {
                    text-align: center;
                    padding: 7.7rem 10.6rem 9.7rem 10.6rem;
                }
          }
          h3{
            font-family: $font-family-bold;
          }
          .wrapper{
              display: flex;
              flex-direction: column;
            }
      }


      .article02-3{
        position: relative;
        background-color: $white;
         @media #{$breakpoint-md} {
          background-color: $black;
         }
                  .bcg{
            background-size: cover;
            background-image: url('../img/src/segment-3-boost-productivity02-mobile.jpg');
              @media #{$breakpoint-md} { 
                background-image: url('../img/src/segment-3-boost-productivity02.png');
              } 
            }
            h3 {
              margin: 2.5rem 0 4.2rem 0;
              @media #{$breakpoint-md} {
                margin: 0 0 9.2rem 0;
              }
            }
            p {
              color: $white;

            }
            .wrapper{
              vertical-align: middle;
            }
              .item{
                    padding-bottom: 6rem;
              };
            ul{
              list-style-position: outside;
              margin-left: 16px;
            }
            li{
              font-size:1.3rem;
              margin:0;
              padding: 0 5rem 1.6rem 1.2rem;
              line-height:1.5rem;
              font-family: $font-family-semiBold;
              @media #{$breakpoint-md} {
                  padding:0 0 1.6rem 0;
                line-height:2.4rem;
                  font-size:1.8rem;
            }
        }
      }

      .article02-4{
        position: relative;
        width:100%;
      }






      // retail sector: TAB 3;






      .article03-1{
          height: auto;
          position: relative;
          margin-top: 67px;
          background-color: $white;
          @media #{$breakpoint-md} {
            height: 100vh;
            background-color: $black;
            margin: 0;
            height:100vh;
          }        
          .bcg{
            background-image: url('../img/src/segment-4-retail-sector01-mobile.jpg');
            @media #{$breakpoint-md} { 
              background-image: url('../img/src/segment-4-retail-sector01.png');
            }
          }
      }

      .article03-2 {
        position: relative;
          background-color: $white;
              @media #{$breakpoint-md} { 
                background-color: #f5f5f5;
              }
          .wrapper{
            text-align: left;
            padding: 0 0 4rem 0;
                @media #{$breakpoint-md} {
                    text-align: center;
                    padding: 7.7rem 10.6rem 9.7rem 10.6rem;
                }
          }
          h3{
            font-family: $font-family-bold;
          }
          .wrapper{
              display: flex;
              flex-direction: column;
            }
      }

      .article03-3{
        position: relative;
        background-color: $white;
         @media #{$breakpoint-md} {
          background-color: $black;
         }
                  .bcg{
            background-size: cover;
            background-image: url('../img/src/segment-4-retail-sector02-mobile.jpg');
              @media #{$breakpoint-md} { 
                background-image: url('../img/src/segment-4-retail-sector02.png');
              } 
            }
            h3 {
              margin: 2.5rem 0 4.2rem 0;
              @media #{$breakpoint-md} {
                margin: 0 0 9.2rem 0;
              }
            }
            p {
              color: $white;

            }
            .wrapper{
              vertical-align: middle;
            }
              .item{
                    padding-bottom: 6rem;
              };
            ul{
              list-style-position: outside;
              margin-left: 16px;
            }
            li{
              font-size:1.3rem;
              margin:0;
              padding: 0 5rem 1.6rem 1.2rem;
              line-height:1.5rem;
              font-family: $font-family-semiBold;
              @media #{$breakpoint-md} {
                  padding:0 0 1.6rem 0;
                line-height:2.4rem;
                  font-size:1.8rem;
            }
        }
      }

      .article03-4{
        position: relative;
        width:100%;
      }
    }



// Faster value: TAB 4;









    .article04-1{
          height: auto;
          position: relative;
          margin-top: 67px;
          background-color: $white;
          @media #{$breakpoint-md} {
            height: 100vh;
            background-color: $black;
            margin: 0;
            height:100vh;
          }        
          .bcg{
            background-image: url('../img/src/segment-5-faster-value01-mobile.jpg');
            @media #{$breakpoint-md} { 
          background-image: url('../img/src/segment-5-faster-value01.png');
            }
          }
      }

    .article04-2 {
        position: relative;
          background-color: $white;
              @media #{$breakpoint-md} { 
                background-color: #f5f5f5;
              }
          .wrapper{
            text-align: left;
            padding: 0 0 4rem 0;
                @media #{$breakpoint-md} {
                    text-align: center;
                    padding: 7.7rem 10.6rem 9.7rem 10.6rem;
                }
          }
          h3{
            font-family: $font-family-bold;
          }
          .wrapper{
              display: flex;
              flex-direction: column;
            }
      }

    .article04-3{
        position: relative;
        background-color: $white;
         @media #{$breakpoint-md} {
          background-color: $black;
         }
                  .bcg{
            background-size: cover;
            background-image: url('../img/src/segment-5-faster-value02-mobile.jpg');
              @media #{$breakpoint-md} { 
                  background-image: url('../img/src/segment-5-faster-value02.png');
              } 
            }
            h3 {
              margin: 2.5rem 0 4.2rem 0;
              @media #{$breakpoint-md} {
                margin: 0 0 9.2rem 0;
              }
            }
            p {
              color: $white;

            }
            .wrapper{
              vertical-align: middle;
            }
              .item{
                    padding-bottom: 6rem;
              };
            ul{
              list-style-position: outside;
              margin-left: 16px;
            }
            li{
              font-size:1.3rem;
              margin:0;
              padding: 0 5rem 3.6rem 1.2rem;
              line-height:1.5rem;
              font-family: $font-family-semiBold;
              @media #{$breakpoint-md} {
                  padding:0 0 1.6rem 0;
                line-height:2.4rem;
                  font-size:1.8rem;
            }
        }
      }


    .article04-4{
      position: relative;
      width:100%;
    }



// BOX 3
// CHECKLIST: SECTION 5: TAB 5;



#box03{
    .line-left-overlay{
        height: 27%;
        width: 100%;
        background-repeat: no-repeat;
        z-index: 10;
        top: 1300px;
        background-image: url('../img/src/line-left.svg');
        position: absolute;
          @media only screen and (max-width: 1000px) {
            visibility: hidden;
            opacity: 0;
            }
          }
    .line-right-overlay{
        height: 27%;
        width: 50%;
        background-repeat: no-repeat;
        z-index: 10;
        top: 2090px;
        background-image: url(../img/src/line-right-overlay.svg);
        position: absolute;
        
        right: -189px;
      background-size: cover;
        @media only screen and (max-width: 1000px) {
            visibility: hidden;
            opacity: 0;
        }
    }
  .hero-content{
    padding:2.4rem 0 2.4rem 0;
    justify-content: center;
          @media #{$breakpoint-md} {
              padding:15rem 0 11rem 0;     
              justify-content: auto;    
          }
  }
  .flex-container{
          margin-left: 0px;
          h3{
            margin-bottom: 4rem;
            color: $white;
            @media #{$breakpoint-md} {
              color: $black;
            }
          }
          p{
            color: $white;
            // line-height: 16px;

            @media #{$breakpoint-md} {
              color: $black;
            }
          }

          @media #{$breakpoint-md} {
                margin: 4rem 4rem 4rem 10rem;
          }

      }


  .item01{
      display: flex;
      flex-direction: column-reverse;
      background-color:$black;
          @media #{$breakpoint-md} {
            flex-direction: row;
            background-color:#f5f5f5;
            }
      .bcg{
          position: relative;
          height:271px;
            @media #{$breakpoint-md} {
              height: 100%;
          }
        }
  }

  .header-container{
    padding: 0rem 2.3rem 0rem 2.2rem;
      @media #{$breakpoint-md} {
        padding: 0rem 11.4rem 10rem 11.4rem;
      }
    }




    .article05-1{
      position: relative;
      height: auto;
      margin-top: 67px;
      background-color: $white;
        @media #{$breakpoint-md} {
           height: 100vh;
           margin-top: 0;
        }

          .bcg {
        background-image: url('../img/src/segment-5-checklist01-mobile.jpg');
        // background-size: auto;
              height: 232px;
      @media #{$breakpoint-md} {
            background-image: url('../img/src/segment-5-checklist01.png');
            background-size: cover;
                       height: 100vh;


        }
    }
      
      h1 {
          color: $black; 
          margin-top: 1.2rem;
           @media #{$breakpoint-md} {
          color: $white;
           }         
        }
      
  }

    .article05-2{
        h3 {
         
            &.section-3-title {
                color: $white;
                margin: 2.5rem 0 2.5rem 0;
                text-align: left;
                font-size: 2.5rem;
                line-height: 3.5rem;
                    @media #{$breakpoint-md} {
                      height: auto;
                      margin: 10rem 0 10rem 0;
                      text-align: center;
                      font-size: 4rem;
                  }
              } 
        }

          
          .bcg{
            background-image: url('../img/src/segment-5-checklist02-mobile.jpg');
            @media #{$breakpoint-md} {
              background-image: url('../img/src/segment-5-checklist02.png');
            }
          }
        }

      .article05-3{
          .item01{
              display: flex;
              flex-direction: column;
                  @media #{$breakpoint-md} {
                    flex-direction: row;
                  }
                }
          
          .bcg{
            background-image: url('../img/src/segment-5-checklist03-mobile.jpg');
            @media #{$breakpoint-md} {
              background-image: url('../img/src/segment-5-checklist03.png');
            }
          }
        }
      

      .article05-4{
          .bcg{
            background-image: url('../img/src/segment-5-checklist04-mobile.jpg');
            position: relative;
            background-position: right;
                @media #{$breakpoint-md} {
                  background-image: url('../img/src/segment-5-checklist04.png');
            }
          }
        }
      
      .article05-5{
          .item01{
          display: flex;
          flex-direction: column;
                  @media #{$breakpoint-md} {
                    flex-direction: row;
                  }
                }
         
          .bcg{
            background-image: url('../img/src/segment-5-checklist05-mobile.jpg');
            position: relative;
            background-position: left;
                @media #{$breakpoint-md} {
              background-image: url('../img/src/segment-5-checklist05.png');
            }
          }
        }
      
      .article05-6{
          .bcg{
            background-image: url('../img/src/segment-5-checklist06-mobile.jpg');
            position: relative;
            background-position: right;
                @media #{$breakpoint-md} {
              background-image: url('../img/src/segment-5-checklist06.png');
            }
          } 
        }      
      }
      

#box04{
  .container{
    visibility: hidden;
    opacity: 0;
          @media #{$breakpoint-md} {
            height: calc(100vh - 98px);
            visibility: visible;
            opacity: 1;
      }
    .wrapper{ 
      width: 100%;
      height: 100%; 
      padding: 0rem 1.6rem 0rem 1.6rem;
      @media #{$breakpoint-md} {
        padding: 0rem 11.4rem 0rem 11.4rem;
      }
    }
  }

  header.heading{
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
        .line-right {
          background-image: url('../img/src/line-right.svg');
          height: 100%;
          width: 50%;
          background-repeat: no-repeat;
          position: absolute;
          height: 133%;
          right: -200px;
          bottom: -98px;
      }
        .line-left {
          background-image: url('../img/src/line-left.svg');
          height: 146%;
          width: 50%;
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          left: 0;
        }
    h1{
      padding:0;
      margin: 0; 
      color:$white;
      text-align: center;
      padding-top: 150px;
    }
    .arrow-down {
      bottom: -77px;
    }
  }

  .parallax-container{
    width: 100%; 
    position: relative;
    overflow: hidden;
    height: 100vh; 
    @media #{$breakpoint-md} {
      height: auto;
    }
  }
  .dynamic{
    display: none;
    @media #{$breakpoint-md} {
      display: block;
    }
  }
  .parallax-wrapper{  
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.side-left{
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      //transform: translateY(90%);
      .bcg{
        width: 150px;
        height: 150px;
        position: relative;
        margin: .6rem .6rem .6rem 0;
          @media #{$breakpoint-md} {
            margin: .6rem .75rem .6rem 0;
            width: 438px;
            height: 438px;
          }
      }
      .parallax01{
        background-image: url('../img/src/segment-6-contact01-left.jpg');
      }
      .parallax02{
        background-image: url('../img/src/segment-6-contact02-left.jpg');
      }
      .parallax03{
        background-image: url('../img/src/segment-6-contact03-left.jpg');
      }
    }
    &.side-right{
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      //transform: translateY(-90%);
      .bcg{
        width: 150px;
        height: 150px;
        position: relative;
        margin:.6rem .6rem .6rem 0;
          @media #{$breakpoint-md} {
            margin: .6rem .6rem .6rem .3rem;
            width: 438px;
            height: 438px;
          }
      }
      .parallax01{
        background-image: url('../img/src/segment-6-contact01.jpg');
      }
      .parallax02{
        background-image: url('../img/src/segment-6-contact02.jpg');
      }
      .parallax03{
        background-image: url('../img/src/segment-6-contact03.jpg');
      }
    } 
  }

    .contact-container { 
      position: relative; 
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      visibility: visible;
      opacity: 1;
      @media #{$breakpoint-md} {
        position: absolute; 
        visibility: hidden;
        opacity: 0;
      }
      .bcg {
          margin-top: 64px;
          background-image: url('../img/src/segment-6-contact04-mobile.jpg');
          visibility: visible;
          opacity: 1;
          @media #{$breakpoint-md} {
            visibility: hidden;
            opacity: 0;
          }
      }

      .header-container {
        padding:2rem 2.3rem 2rem 2.2rem;
        height: auto;
            @media #{$breakpoint-md} {
               padding:0 0 0 0;
            }
        h1 {
            color: $white;
            visibility: visible;
            opacity: 1;
            @media #{$breakpoint-md} {
              visibility: hidden;
              opacity: 0;
              height: 0
          }
        }
      }
      .contact-top {
        background-color: black;
        color: #ffffff;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: left;
        margin: 0;
        height: 97px;
            @media #{$breakpoint-md} {
              text-align: center;
              height: 55vh;
              margin: auto;
              margin-top: 85px;
              justify-content: center;
              width: 55%;
          }
          h4{
            align-items: center;
          }
      }
      .contact-bottom {
        width: 100%;
        height: 179px;
        background-image: linear-gradient(to left, #00aea9, #0e99f0);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
          @media #{$breakpoint-md} {
            height: 40vh;
          }
        .profile-wrapper{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .profile-image { 
            background-image: url('../img/src/PeterDurrant.jpeg');
            margin: 0.5rem 2rem 0 0;
            display: block;
            background-size: cover;
            display: block;
            height: 100px;
            width: 100px;
                @media #{$breakpoint-md} {
                  height: 133px;
                  width: 129px;
                  margin:0 2rem 0 0;
                }
          }
          .profile-info {
            display: flex;
            flex-direction: column; 
            align-items: flex-start; 
            a{
              color: black;
              &:hover{
                color: $white;
              }
            }
            .profile-info-p {
              width: 100%;
              margin-top: -1rem;
              @media #{$breakpoint-md} {
                    margin-top:0;
                    width: 57%;
                  }
            }
          }
        }
      } 
    }
  }


.linkedin-icon {
  background-image: url('../img/src/linkedin-icon.svg');
  width: 28px;
  height: 24px;
  background-size: contain;
    @media #{$breakpoint-md} {
      width: 38px;
      height: 33px;        
    }
}

// .item01{
//   margin-top: 10rem;
// }


       

.box-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    //padding-top: 98px;
    .box {
      padding: 0;
      margin: 0;
      width: 100%;
      position: relative;
      top: .0rem;
      padding:0;
      @media #{$breakpoint-md} {
        top: .0rem; 
      } 
      &.is-hidden {
        display: none;
        opacity:0;
        visibility:hidden;
      }

      &.active{
        header h1{
          opacity:1;
          visibility:visible;
        }
        .copy{
          opacity:1;
          visibility:visible;
        }
        .parallax{
          opacity:1;
          visibility:visible;
        }
      }
    }
}


.article-container{
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 0;
   @media #{$breakpoint-md} {
      padding-top: 22px;

   }
}





