<div class="container contacts">
	<div class="wrapper">
		<img src="assets/img/src/contact_img.jpg" alt="" class="img-contact">
		<div class="col-12 sm-col-9 content">
			<span class="b-dot"></span> 
			<div class="col-12 sm-col-10"> 
				<h2>Talk to us today about future-ready infrastructure,<br>for the future of manufacturing.</h2>
				<p class="name">Scott Smith</p>
				<p class="title">Nutanix Enterprise Account Manager</p>
				<p class="tel"><a href="tel:+15132569013">+1-513-256-9013</a></p>
				<div class="buttons mt3">
					<a href="mailto:scott.smith@nutanix.com" class="btn primary">Contact</a>
					<a href="https://www.nutanix.com/go/gartner-magic-quadrant-for-hyperconverged-systems.php" class="btn primary" target="_blank">Download Gartner report</a>
				</div>
			</div>
		</div>
		
	</div>
</div>