<section  class="box box03 slide is-hidden" id="box03">

		<div class="article05-1">
		    <div class="bcg"></div>

		    <div class="header-container">
		        <div class="container">
		            <div class="wrapper">
		                <header class="hero-content flex col-12 sm-col-4">
		                    <h1 class="white">Seize the  moment</h1>
		                </header>
		            </div>
		        </div>
		    </div>
		</div>

	    <div class="article05-2">
	        <div class="header-container">
		         <div class="container">
		            <div class="wrapper">
		              <header class="col-12 center">
		                <h3 class="">Grab the opportunity  <br>from CoreHR</h3>
		              </header>
	          		</div>

	                 <div class="item01 flex">
	                    <div class="p4 m4 col-6 flex-container">
	                 	<i class="tickbox"></i>
		                      <h3 class="col-12">Reduce costs with our unique smart rostering
		                        <i class="line"></i>
		                      </h3>
		                        <p>CoreHR customers generate savings by eliminating scheduling inaccuracies, placing better control over absenteeism and decreasing the time to produce rosters
		                        </p>
	                    </div>
	                    <div class="col-6">
		                    <div class="bcg">
		                    </div>
	                    </div>

	                </div>
	          	</div>
	        </div>
	    </div>

	    <div class="article05-3">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="col-6">
		                    <div class="bcg">
		                    </div>
	                    </div>
	                    <div class="p4 m4 col-6">
		                      <h3 class="col-12">Empower employees with self-service
	                 			<i class="tickbox"></i>
		                        <i class="line"></i>
		                      </h3>
		                        <p>Lift employee engagement by giving them access and control over their work schedules from any device, at any time</p>
	                    </div>

	                </div>
	          	</div>
	        </div>
	    </div>

	        
	    <div class="article05-4">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="p4 m4 col-6 flex-container">
	                 	<i class="tickbox"></i>
		                      <h3 class="col-12">Reduce costs with our unique smart rostering
		                        <i class="line"></i>
		                      </h3>
		                        <p>CoreHR customers generate savings by eliminating scheduling inaccuracies, placing better control over absenteeism and decreasing the time to produce rosters
		                        </p>
	                    </div>
	                    <div class="col-6">
		                    <div class="bcg">
		                    </div>
	                    </div>

	                </div>
	          	</div>
	        </div>
	     </div>

	    <div class="article05-5">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="col-6">
		                    <div class="bcg">
		                    </div>
	                    </div>
	                    <div class="p4 m4 col-6">
		                      <h3 class="col-12">Reduce costs with our unique smart rostering
	                 	<i class="tickbox"></i>
		                        <i class="line"></i>
		                      </h3>
		                        <p>CoreHR customers generate savings by eliminating scheduling inaccuracies, placing better control over absenteeism and decreasing the time to produce rosters
		                        </p>
	                    </div>

	                </div>
	          	</div>
	        </div>
	    </div>



	    <div class="article05-6">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="p4 m4 col-6 flex-container">
	                 	<i class="tickbox"></i>
		                      <h3 class="col-12">Reduce costs with our unique smart rostering
		                        <i class="line"></i>
		                      </h3>
		                        <p>CoreHR customers generate savings by eliminating scheduling inaccuracies, placing better control over absenteeism and decreasing the time to produce rosters
		                        </p>
	                    </div>
	                    <div class="col-6">
		                    <div class="bcg">
		                    </div>
	                    </div>

	                </div>
	          	</div>
	        </div>
	 	</div>


		<div class="article01-4">
		     <div id="progression-bar">	
		         <div class="progression-previous">
		                  PREV
		        </div>
		        <div class="progression-bar-next">
		                  NEXT
		        </div>
		      </div>
		</div>
 

</section>