<section id="section01">
    <div class="header-container">
        <div class="container">
            <div class="wrapper">
                <div class="col-6 text-container">
                    <h1>JOE<br>
                    BYRNE</h1>
                </div>
                <div class="col-6 text-container outlay ">
                    <div class="three-box">
                        	
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
