<section  class="box box03 slide is-hidden" id="box03">
<div class="line-left-overlay"></div>
<div class="line-right-overlay"></div>
		<div class="article05-1">
		    <div class="bcg"></div>

		    <div class="header-container">
		        <div class="container">
		            <div class="wrapper">
		                <header class="hero-content flex col-12 sm-col-4">
		                    <h1>Seize the moment</h1>
		                </header>
		            </div>
		            <div class="arrow-down-container">
		                 <div class="arrow-down" href="#start06"></div>
		            </div>
		        </div>
		    </div>
		</div>

	    <div class="article05-2">
	        <div class="header-container" id="start06">
		         <div class="container">
		            <div class="wrapper">
		              <header class="col-9 sm-col-12">
		                <h3 class="section-3-title">Grab the opportunity from CoreHR</h3>
		              </header>
	          		</div>

	                 <div class="item01 flex">
	                    <div class="p4 sm-col-6 col-12 flex-container">
	                 	
		                      <h3 class="col-12">Reduce costs with our unique smart rostering
		                        <i class="line"></i><i class="tickbox"></i>
		                      </h3>
		                        <p>CoreHR customers generate savings by eliminating scheduling inaccuracies, placing better control over absenteeism and decreasing the time to produce rosters
		                        </p>
	                    </div>
	                    <div class="sm-col-6 col-12 bcg-contant-conatiner">
		                    <div class="bcg">
		                    </div>
	                    </div>
	                </div>
                			
	          	</div>
	        </div>
	    </div>

	    <div class="article05-3">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="sm-col-6 col-12">
		                    <div class="bcg">
		                    </div>
	                    </div>
	                    <div class="p4 sm-col-6 col-12 flex-container">
		                      <h3 class="col-12">Empower employees with self-service
	                 			<i class="tickbox"></i>
		                        <i class="line"></i>
		                      </h3>
		                        <p>Lift employee engagement by giving them access and control over their work schedules from any device, at any time</p>
	                    </div>

	                </div>
	          	</div>
	        </div>
	    </div>

	        
	    <div class="article05-4">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="p4 sm-col-6 col-12 flex-container">
	                 	
		                      <h3 class="col-12">Boost revenue growth  with real-time data


		                       <i class="tickbox"></i><i class="line"></i>
		                      </h3>
		                        <p>CoreHR improves company’s top and bottom-line revenue performance by equipping leaders with actionable workforce data
		                        </p>
	                    </div>
	                    <div class="sm-col-6 col-12">
		                    <div class="bcg">
		                    </div>
	                    </div>

	                </div>
	          	</div>
	        </div>
	     </div>

	    <div class="article05-5">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="sm-col-6 col-12">
		                    <div class="bcg">
		                    </div>
	                    </div>
	                    <div class="p4 sm-col-6 col-12 flex-container">
		                      <h3 class="col-12">Make instore  experience sparkle
	                 			<i class="tickbox"></i>
		                        <i class="line"></i>
		                      </h3>
		                        <p>When managers spend less time in the back office, they spend more time on the shop floor. This new time can be redeployed to make your customer service shine, driving sales and loyalty
		                        </p>
	                    </div>

	                </div>
	          	</div>
	        </div>
	    </div>


	    <div class="article05-6">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="p4 sm-col-6 col-12 flex-container">
	                 	
		                      <h3 class="col-12">Always  be compliant
		                        <i class="line"></i><i class="tickbox"></i>
		                      </h3>
		                        <p>Smart Workforce Management technology takes the compliance burden off managers’ shoulders, allows legislative changes to be easily rolled-out, and improves accuracy by removing manual functions
		                        </p>
	                    </div>
	                    <div class="sm-col-6 col-12">
		                    <div class="bcg">
		                    </div>
	                    </div>

	                </div>
	          	</div>
	        </div>
	 	</div>


		<div class="pagination">
            <div class="container">
                <div class="wrapper flex flex-wrap justify-center">
                    <div class="col-2 flex flex-wrap justify-between arrow-container">
                        <span class="prev tile paginationlink" data-target="box02">
                        	Prev
                        </span>
                        <span class="next tile paginationlink" data-target="box04">
                        	 Next 
                        </span>
                    </div>
                </div>
            </div>
        </div> 
 

</section>