<section  class="box box04  slide is-hidden" id="box04">
 
 
	<div class="container">
		<div class="wrapper">

			<div class="parallax-container flex flex-wrap">
				<div class="parallax-wrapper side-left">
					<div class="bcg parallax01"></div>
					<div class="bcg parallax02"></div>
					<div class="bcg parallax03"></div>
				</div>

				<div class="parallax-wrapper side-right">
					<div class="bcg parallax01"></div>
					<div class="bcg parallax02"></div>
					<div class="bcg parallax03"></div>
				</div>
			</div>
	 
			<header class="heading">
				<h1>Don’t be fashionably late...</h1>
			</header>


		</div>
	</div>

	<div class="contact-container">
		<div class="header-container">
			
        	<div class="contact-top col-7">
                 <h4>The CoreHR retail team is ready to talk further about real business benefits. About how you can use data to run lean, inspire your customers by engaging your staff, increase profits and best of all turn people planning into an engine of growth</h4>
        	</div>
		</div>
 			


        	<div class="contact-bottom">

        		<div class="profile-wrapper">

	        		<div class="profile-image"></div>
		        		<div class="profile-info col-6 sm-col-8">
		        			<p><strong>Peter Durrant</strong></p>
		        			<p class="profile-info-p"><a href="mailto:Peter.Durrant@corehr.com">Peter.Durrant@corehr.com</a> is ready to connect with you immediately – to discuss how CoreHR can help you to drive your retail transformation.</p>
		        			<i class="linkedin-icon"></i>
		        		</div>
		        	</div>

        	</div>
	    
	</div>
</section>