<section  class="box box02 slide is-hidden" id="box02">

	<div class="article-container">

		<article class="article article01 visible" id="article01">
			

			<div class="article01-1 fs">
			    <div class="bcg"></div>

			    <div class="header-container">
			        <div class="container">
			            <div class="wrapper">
			                <header class="hero-content flex col-12 sm-col-4">
			                    <h1 class="white fade">Seize the moment and start cutting costs </h1>
			                </header>
			            </div>
			            <div class="arrow-down-container">
		                  <div class="arrow-down" href="#start02"></div>
		                </div>
			        </div>
			    </div>
			</div>

			<div class="article01-2">
			    <div class="header-container">
			        <div class="container">
			            <div class="wrapper" id="start02">
			                 <h4 class="fade">After a challenging Xmas period and with Brexit looming, growth must be protected. CoreHR generates business wide insights, helping retailers see waste and run more efficiently. With a wider view of the business you can be confident money will be saved. </h4>
			            </div>
			        </div>
			    </div>
			</div>

			<div class="article01-3">
			    <div class="bcg"></div>

			    <div class="header-container">
			        <div class="container">
			            <div class="wrapper">
					         <div class="item col-12 sm-col-4 ">
			                     <div class="pt4 pl4 pb4">
			               
			                      <h3 class="col-12 fade">Gain actionable insights from data
			                        <i class="line"></i>
			                      </h3>
			                        <ul class="fade">
			                        	<li>You need to divert funds to key areas like your omnichannel offer</li>
			                        	<li>Efficiencies must be found to remain competitive with online competition</li>
			                        	<li>CoreHR ‘One View’ reporting will discover new efficiencies yet to be made, saving money straight away</li>
			                        </ul>
	                      		</div>
	                   		</div>
			            </div>

			        </div>
			    </div>
			</div>
 
		</article>

		<article class="article article02 is-hidden" id="article02">
			{{!-- <h1>Boost productivity and cut churn</h1> --}}

				<div class="article02-1 fs">
				    <div class="bcg"></div>

				    <div class="header-container">
				        <div class="container">
				            <div class="wrapper">
				                <header class="hero-content flex col-12 sm-col-5">
				                    <h1 class="white fade">Boost productivity and cut churn</h1>
				                </header>
				            </div>
				            <div class="arrow-down-container">
			                  <div class="arrow-down" href="#start03"></div>
			                </div>
				        </div>
				    </div>
				</div>

				<div class="article02-2">
				    <div class="header-container">
				        <div class="container">
				            <div class="wrapper" id="start03">
				                <h4 class="fade">CoreHR automates core Workforce Management tasks, massively cutting manager workload and time spent on jobs like rostering. Time can be redeployed to crucial business imperatives like in store customer experience and your digital offer.</h4>
								
								<h4 class="fade">CoreHR has consumer grade, mobile UX that your people will love working and interacting with – raising the bar on your employee engagement.</h4>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="article02-3">
				    <div class="bcg"></div>

				    <div class="header-container">
				        <div class="container">
				            <div class="wrapper">
						         <div class="item col-12 sm-col-4 ">
				                     <div class="pt4 pl4 pb4">
				               
				                      <h3 class="col-12 fade">Empower your staff with digital brilliance
				                        <i class="line"></i>
				                      </h3>
				                        <ul class="fade">
				                        	<li>To grow, retail needs to boost revenue quickly and reduce staff churn</li>
				                        	<li>CoreHR’s unique smart rostering solution will save each store manager up to 10 hours per week</li>
				                        	<li>CoreHR delivers the mobile first experience staff expect, retaining talent and cutting churn and costs in recruitment across the business </li>
				                        </ul>
		                      		</div>
		                   		</div>
				            </div>
				        </div>
				    </div>
				</div>
 

		</article>

		<article class="article article03 is-hidden" id="article03">

			<div class="article03-1 fs">
			    <div class="bcg"></div>

			    <div class="header-container">
			        <div class="container">
			            <div class="wrapper">
			                <header class="hero-content flex col-12 sm-col-5">
			                    <h1 class="white fade">The retail sector helps build our product</h1>
			                </header>
			            </div>
			            <div class="arrow-down-container">
		                  <div class="arrow-down" href="#start04"></div>
		                </div>
			        </div>
			    </div>
			</div>

			<div class="article03-2">
			    <div class="header-container">
			        <div class="container">
			            <div class="wrapper" id="start04">
			                <h4 class="fade">Retail faces unprecedented disruption, it must adapt rapidly. CoreHR crowdsources its product roadmap from leading lights in the UK retail sector. Working with the likes of Arcadia and Ted Baker we use their feedback to co-create our solutions. </h4>
			            </div>
			        </div>
			    </div>
			</div>




			<div class="article03-3">
			    <div class="bcg"></div>

			    <div class="header-container">
			        <div class="container">
			            <div class="wrapper">
					         <div class="item col-12 sm-col-4 ">
			                     <div class="pt4 pl4 pb4">
			               
			                      <h3 class="col-12 fade">Agility from community
			                        <i class="line"></i>
			                      </h3>
			                        <ul class="fade">
			                        	<li>Technology and new consumer habits are changing business models & staffing needs</li> <li>The retail sector must adapt seamlessly to a changing landscape</li>
			                        	<li>By crowdsourcing its product roadmap from leading lights in UK retail, CoreHR tailors our platform exactly to the sector’s needs </li>
			                        </ul>
	                      		</div>
	                   		</div>
			            </div>
			        </div>
			    </div>
			</div>
 


		</article>

		<article class="article article04 is-hidden" id="article04">
 

				<div class="article04-1 fs">
				    <div class="bcg"></div>

				    <div class="header-container">
				        <div class="container">
				            <div class="wrapper">
				                <header class="hero-content flex col-12 sm-col-4">
				                    <h1 class="white fade">Faster value for a bigger future </h1>
				                </header>
				            </div>
				            <div class="arrow-down-container">
			                  <div class="arrow-down" href="#start05"></div>
			                </div>
				        </div>
				    </div>
				</div>

				<div class="article04-2">
				    <div class="header-container">
				        <div class="container">
				            <div class="wrapper" id="start05">
				                 <h4 class="fade">CoreHR can deliver your systems upgrade faster and at less cost of any competitor, all with the same or better functionality. </h4>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="article04-3">
				    <div class="bcg"></div>

				    <div class="header-container">
				        <div class="container">
				            <div class="wrapper">
						         <div class="item col-12 sm-col-4 ">
				                     <div class="pt4 pl4 pb4">
				               
				                      <h3 class="col-12 fade">Value delivery, rapid deployment
				                        <i class="line"></i>
				                      </h3>
				                        <ul class="fade">
				                        	<li>Time is definitely money, you can’t put everything on hold while you change IT</li>
				                        	<li>You need a partner who will get your upgrade done yesterday</li>
				                        	<li>Save money and time with Core HR and get the same or better functionality from than being offered by competitors </li>
				                        </ul>
		                      		</div>
		                   		</div>
				            </div>
				        </div>
				    </div>
				</div>



	 


		</article>
	</div>
 
</section>
