<section class="section02" id="work">
	    <div class="header-container">
            <div class="container">
                <div class="wrapper">
					<h1>SECTION2</h1>
                </div>
            </div>
        </div>
</section>
