<section  class="box box03 slide is-hidden" id="box03">

		<div class="article05-1 fs">
		    <div class="bcg"></div>

		    <div class="header-container">
		        <div class="container">
		            <div class="wrapper">
		                <header class="hero-content flex col-12 sm-col-4">
		                    <h1 class="white">Seize the  moment</h1>
		                </header>
		            </div>
		            <div class="arrow-down-container">
		                 <div class="arrow-down" href="#start06"></div>
		            </div>
		        </div>
		    </div>
		</div>

	    <div class="article05-2">
	        <div class="header-container" id="start06">
		         <div class="container">
		            <div class="wrapper">
		              <header class="col-12 center">
		                <h3 class="">Grab the opportunity  <br>from CoreHR</h3>
		              </header>
	          		</div>

	                 <div class="item01 flex">
	                    <div class="p4 sm-col-6 col-12 flex-container">
	                 	<i class="tickbox"></i>
		                      <h3 class="col-12">Reduce costs with our unique smart rostering
		                        <i class="line"></i>
		                      </h3>
		                        <p>CoreHR customers generate savings by eliminating scheduling inaccuracies, placing better control over absenteeism and decreasing the time to produce rosters
		                        </p>
	                    </div>
	                    <div class="sm-col-6 col-12 bcg-contant-conatiner">
		                    <div class="bcg">
		                    </div>
	                    </div>

	                </div>
	          	</div>
	        </div>
	    </div>

	    <div class="article05-3">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="sm-col-6 col-12">
		                    <div class="bcg">
		                    </div>
	                    </div>
	                    <div class="p4 sm-col-6 col-12 flex-container">
		                      <h3 class="col-12">Empower employees with self-service
	                 			<i class="tickbox"></i>
		                        <i class="line"></i>
		                      </h3>
		                        <p>Lift employee engagement by giving them access and control over their work schedules from any device, at any time</p>
	                    </div>

	                </div>
	          	</div>
	        </div>
	    </div>

	        
	    <div class="article05-4">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="p4 sm-col-6 col-12 flex-container">
	                 	<i class="tickbox"></i>
		                      <h3 class="col-12">Reduce costs with our unique smart rostering
		                        <i class="line"></i>
		                      </h3>
		                        <p>CoreHR customers generate savings by eliminating scheduling inaccuracies, placing better control over absenteeism and decreasing the time to produce rosters
		                        </p>
	                    </div>
	                    <div class="sm-col-6 col-12">
		                    <div class="bcg">
		                    </div>
	                    </div>

	                </div>
	          	</div>
	        </div>
	     </div>

	    <div class="article05-5">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="sm-col-6 col-12">
		                    <div class="bcg">
		                    </div>
	                    </div>
	                    <div class="p4 sm-col-6 col-12 flex-container">
		                      <h3 class="col-12">Reduce costs with our unique smart rostering
	                 	<i class="tickbox"></i>
		                        <i class="line"></i>
		                      </h3>
		                        <p>CoreHR customers generate savings by eliminating scheduling inaccuracies, placing better control over absenteeism and decreasing the time to produce rosters
		                        </p>
	                    </div>

	                </div>
	          	</div>
	        </div>
	    </div>


	    <div class="article05-6">
	        <div class="header-container">
		         <div class="container">

	                 <div class="item01 flex">
	                    <div class="p4 sm-col-6 col-12 flex-container">
	                 	<i class="tickbox"></i>
		                      <h3 class="col-12">Reduce costs with our unique smart rostering
		                        <i class="line"></i>
		                      </h3>
		                        <p>CoreHR customers generate savings by eliminating scheduling inaccuracies, placing better control over absenteeism and decreasing the time to produce rosters
		                        </p>
	                    </div>
	                    <div class="sm-col-6 col-12">
		                    <div class="bcg">
		                    </div>
	                    </div>

	                </div>
	          	</div>
	        </div>
	 	</div>


		<div class="pagination">
            <div class="container">
                <div class="wrapper flex flex-wrap justify-center">
                    <div class="sm-col-1 col-6 flex flex-wrap justify-between arrow-container">
                        <span class="prev tile but" data-target="box02">
                        	<div class="arrow-left"></div>
                        	<div class="prev-text">Prev</div>
                        </span>
                        <span class="next tile but" data-target="box04">
                        	<div class="next-text">Next</div>
                        	<div class="arrow-right"></div>
                        </span>
                    </div>
                </div>
            </div>
        </div> 
 

</section>