<section  class="box box01 slide " id="box01">

 

    <div class="intro01">
        <div class="bcg"></div>

        <div class="header-container">
            <div class="container">
                <div class="wrapper">
                    <header class="hero-content flex col-12 sm-col-4">
                        <h1 class="fade">New people technology <br>creates new growth</h1>
                    </header>
                </div>
                <div class="arrow-down-container">
                  <a class="arrow-down" href="#start01"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="intro02" id="start01">
        <div class="bcg"></div>

        <div class="header-container">
            <div class="container">
                <div class="wrapper">
                    <header class="hero-content flex flex-wrap col-12 sm-col-4">
                        <p class="fade">This is a pivotal moment for retail. Now, more than ever, you need to plan for the future and double down on hard won growth. The idea of changing mission-critical people systems might seem like a distraction right now. But CoreHR is the right tool at the right time.</p> 
                    
                        <p class="fade">We have designed our product to be far more than a people platform - this engine of growth will be the new cornerstone of your retail strategy. It will deliver maximized output, empower your people and also provide impressive value. </p>

                    </header>
                </div>
            </div>
        </div>
    </div>

    <div class="intro03 ">
          <div class="header-container">
            <div class="container">
              <div class="wrapper flex flex-wrap justify-center">
                <header class="col-12 flex justify-center flex-column  center">
                  <h2 class="white fade">Make every second count. <br>CoreHR delivers:</h2>
                </header>

                <div class="pannel flex flex-wrap  mxn1 py4">


                    <div class="item col-12 sm-col-4 ">
                        <div class="">
                 
                          <h3 class="col-12 fade">Productivity Surge:
                            <i class="line"></i>
                          </h3>
                          <p class="fade col-10 sm-col-12">
                            Our predictive systems will give every leader in your company, from store managers to the CEO, the time and information they need to run at maximum output. The effect? Key productivity stats will rise - driving sales and cutting costs. 
                          </p>
                        </div>
                    </div>

                    <div class="item col-12 sm-col-4 ">
                       <div class="">
                 
                          <h3 class="col-12 fade">Reduced Churn: 
                            <i class="line"></i>
                          </h3>
                          <p class="fade col-10 sm-col-12">
                            CoreHR’s mobile friendly platform will engage and empower your staff from shop floor to distribution centr  e. A new enthusiasm will not only encourage your staff to stay, it will help them perform better than ever.  
                          </p>
                       </div>
                    </div>

                    <div class="item col-12 sm-col-4 ">
                      <div class="">
               
                          <h3 class="col-12 fade">Fast upgrade:
                            <i class="line"></i>
                          </h3>
                          <p class="fade col-10 sm-col-12">
                            Cost pressures and disruption are impacting daily - every second, every pound saved is vital. We can roll out your transformational systems upgrade in less than half the time and cost of our competitors.  
                          </p>
                      </div>
                    </div>

                </div>

              </div>
            </div>
          </div>
     
    </div>

 

</section>
