 <section class="section03" id="about">
	<div class="header-container">
		<div class="container">
			<div class="wrapper">
				{{!-- <h1>SECTION03</h1> --}}
				<!-- Swiper -->
				 <div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">Slide 1</div>
						<div class="swiper-slide">Slide 2</div>
						<div class="swiper-slide">Slide 3</div>

					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div> 
			</div>
		</div>
	</div>
</section>