$transparent: rgba(0, 0, 0, 0);
$lightest: rgba(47, 55, 59, 0.2);
$darkest: #2f373b;
$medgrey: #4a4a4a;
$black: #111111;
$lightgrey: #f0f0f0;
$grey: #737373;
$white: #ffffff;
$red:  #f80000;
$orange:  #ec763d;
$blue:  #00aae7;
$darkerblue:  #003da6; 
$lightblue:  #0076cb;
$lightestblue:  #008fd3;
$yellow:  #ffe600;
$orange:  #e35500;
$blueHover:  #20618b;
$orangeHover:  #FFA100;

//
$clientColour: #ea5522;

$gradient: linear-gradient(to left, #4998c5, #71bbbb);